.cabecalho__lista--link{
    color:var(--cinza-escuro);
    font-weight: 600;
}
.cabecalho__lista--link:hover{
    color: var(--vermelho);
}

@media screen and (max-width:768px){
    .cabecalho__lista--link{
        padding: 1rem;
        display: block;
        color: var(--branco);
    }
    .first__link{
        padding-top: 2rem;
    }
}