.banner__titulo{
    color: var(--preto);
    font-family:'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    width: 22rem;
    position: relative;
    display: flex;
}
.banner__titulo::after{
    content: '';
    background-image:url(../../imagem/icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 10px;
    height: 40px;
    position: absolute;
    right: 10px;
    width: 40px;
}
@media screen and (max-width: 768px){
    .banner__titulo{
        font-size: 2.5rem;
        margin: 0 auto;
        width: 17rem;
    }
    .banner__titulo::after{
        right: -20px;
    }
}