.banner__form--botao{
        color: var(--branco);
        background-color: var(--cor-botao);
        border-radius: 35px;
        cursor: pointer;
        font-family: inherit;
        margin-left: .5rem;
        padding: .9rem 1.5rem;
        transition: all .4s;
}
.banner__form--botao:hover{
        background-color: var(--amarelo);
}
@media screen and (max-width: 768px){
        .banner__form--botao{
                margin-top: 1rem;
                width: 20rem;
                margin-left: 0;
        }
}